.header {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  z-index: 3;
  background-color: #f3f5f7; }

.header__left-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 110px;
  margin-left: 20px; }

.header__right-side {
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px; }

.header__notif-btn {
  background-color: #F3F5F9;
  border: none;
  position: relative; }
  .header__notif-btn:hover {
    opacity: 0.6; }
  .header__notif-btn:active {
    opacity: 0.3; }

.notification-number {
  font-size: 10px;
  position: absolute;
  width: 14px;
  height: 14px;
  border: 1px #117DE0 solid;
  border-radius: 50%;
  color: #117DE0;
  top: -4px;
  right: -6px;
  display: block; }

.header__login-btn {
  background-color: #F3F5F9;
  border: none; }
  .header__login-btn:hover {
    opacity: 0.6; }
  .header__login-btn:active {
    opacity: 0.3; }
  .header__login-btn img {
    width: 24px;
    height: 24px; }

.header__logo {
  letter-spacing: 0.05em;
  font-size: 20px;
  color: #313131;
  text-decoration: none;
  transition: .1s; }
  .header__logo:hover {
    color: #526475; }
  .header__logo:active {
    color: #117DE0; }

.header__user-wrp {
  display: none;
  margin: 0 20px; }
  .header__user-wrp span {
    display: block; }

.cash-wrp--desktop {
  display: none; }

@media (min-width: 450px) {
  .header__user-wrp {
    display: block; }
  .header__right-side {
    width: auto; } }

@media (min-width: 700px) {
  .header {
    height: 73px; }
  .cash-wrp--desktop {
    display: flex;
    align-items: center;
    margin-right: 40px; }
    .cash-wrp--desktop img {
      margin-right: 7px; } }

@media (min-width: 1800px) {
  .header__logo {
    margin-left: 48px; }
  .page {
    position: relative;
    max-width: 1800px;
    margin: 0 auto; }
  .header__menu-btn {
    display: none; } }

.header__menu-btn {
  transition: ease-in 0.3s;
  height: 21px;
  width: 30px;
  border: none;
  background-color: #f3f5f7;
  position: relative; }

.menu-line {
  transition: ease-in 0.3s;
  display: block;
  position: absolute;
  width: 30px;
  height: 3px;
  border-radius: 3px;
  background-color: #313131; }

.menu-line--first {
  top: 0px;
  transition-delay: .3s; }

.menu-line--second {
  top: 9px;
  transition-delay: .425s; }

.menu-line--third {
  top: 18px;
  transition-delay: .55s; }

.menu-active .menu-line:nth-child(1) {
  transition-delay: 0s; }

.menu-active .menu-line:nth-child(2) {
  transition-delay: .125s; }

.menu-active .menu-line:nth-child(3) {
  transition-delay: .25s; }

.menu-active .menu-line {
  width: 0px; }

.header__menu-X {
  top: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45Deg); }

.menu-x__line {
  transition: ease-in 0.3s;
  border-radius: 3px;
  position: absolute;
  display: block;
  background-color: #313131; }

.menu-x__line--first {
  top: 11px;
  left: 1px;
  width: 0%;
  height: 3px;
  transition-delay: 0s; }

.menu-x__line--second {
  left: 15px;
  top: -3px;
  height: 0%;
  width: 3px;
  transition-delay: .25s; }

.menu-active .menu-x__line--first {
  width: 31px;
  transition-delay: .525s; }

.menu-active .menu-x__line--second {
  height: 31px;
  transition-delay: .275s; }

.nav-ls {
  background-color: #f3f5f7;
  margin-top: 58px;
  padding-top: 25px;
  padding-left: 20px;
  width: 165px;
  height: 100%;
  display: flex;
  justify-content: baseline;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  transition: 0.5s; }

.nav-ls--active {
  transform: translateX(0%); }

.nav-ls__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;
  width: 100px;
  height: 40px;
  border-radius: 20px; }

.nav-ls__text {
  font-size: 15px;
  margin: 5px 0;
  position: relative; }

.nav-ls__notif {
  position: absolute;
  width: 14px;
  height: 14px;
  display: block;
  top: 2px;
  text-align: center;
  line-height: 14px;
  font-size: 10px;
  color: #fff;
  right: -17px;
  border-radius: 50%;
  background-color: #117DE0; }

.nav-li__img-wrp img {
  width: 25px;
  height: 25px;
  margin-right: 10px; }

.mobile-nav-ls {
  list-style: none; }

.cash-wrp {
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .cash-wrp img {
    margin-right: 10px; }

.mobile-nav-ls__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5px;
  margin-bottom: 13px; }

.nav-ls--active-color {
  background-color: #fff;
  width: 165px;
  margin-left: -20px;
  padding-left: 20px;
  border-radius: 0px; }

.cash__btn {
  margin-top: 3px;
  background-color: #117DE0;
  border-radius: 20px;
  box-shadow: 0px 0px 2px #117DE0;
  border: 2px solid #117DE0;
  transition: 0.25s ease-in;
  color: #fff;
  height: 28px;
  width: 100px;
  text-align: center;
  line-height: 22px;
  text-decoration: none; }
  .cash__btn:hover {
    color: #117DE0;
    background-color: #F3F5F9; }
  .cash__btn:active {
    box-shadow: inset 0px 0px 4px #117DE0; }

@media (min-width: 700px) {
  .nav-li__img-wrp img {
    margin: 0px; }
  .nav-ls {
    background-color: #f3f5f7;
    margin-top: 58px;
    padding-top: 10px;
    width: 165px;
    height: 100%;
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    transition: 0.5s; }
  .nav-ls--active {
    transform: translateX(0%); }
  .nav-ls__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
    width: 100px;
    height: 67px;
    justify-content: center;
    border-radius: 20px; }
  .nav-ls__text {
    font-size: 15px;
    margin: 5px 0;
    position: relative; }
  .nav-ls__notif {
    position: absolute;
    width: 14px;
    height: 14px;
    display: block;
    top: 2px;
    text-align: center;
    line-height: 14px;
    font-size: 10px;
    color: #fff;
    right: -17px;
    border-radius: 50%;
    background-color: #117DE0; }
  .nav-li__img-wrp img {
    width: 25px;
    height: 25px; }
  .mobile-nav-ls {
    list-style: none; }
  .cash-wrp {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .cash-wrp img {
      margin-right: 10px; }
  .mobile-nav-ls__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 13px; }
  .mobile-nav-ls {
    display: none; }
  .nav-ls {
    width: 182px; }
  .nav-ls__item {
    margin-bottom: 10px;
    height: 85px;
    transition: .2s; }
    .nav-ls__item:hover {
      background-color: #fff; }
  .nav-li__img-wrp img {
    width: 36px;
    height: 37px; }
  .nav-ls--active-color {
    background-color: #fff;
    width: inherit;
    margin-left: 0px;
    padding-left: 0px; } }

@media (min-width: 830px) {
  .nav-ls {
    margin-top: 80px; } }

.tab {
  transition: ease-in-out 0.6s;
  width: 100%;
  text-align: center;
  display: block; }

.website {
  background-color: #fff;
  height: 100vh; }

.nav-rs {
  padding: 10px 0;
  background-color: #E6EBFF;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }

.nav-rs__btn {
  width: 100%;
  border: none;
  background-color: #E6EBFF;
  margin-top: 20px; }

.nav-rs__btn--active {
  border: none;
  background-color: #E6EBFF;
  margin: 0; }

.nav-rs__marker {
  transition: .3s;
  position: absolute;
  top: 10px;
  right: 20px;
  width: 15px;
  height: 20px; }

.marker__line {
  position: absolute;
  width: 2px;
  height: 11px;
  background-color: #313131;
  border-radius: 3px; }

.marker__line--first {
  top: 0px;
  transform: rotate(-45Deg); }

.marker__line--second {
  top: 7px;
  transform: rotate(45Deg); }

.nav-rs__marker--active {
  top: 14px;
  right: 25px;
  transform: rotate(90Deg); }

/*
.nav-rs--mobile{
    display: block;
    width: 100%;
    border: none;
    text-align: center;
    height: 46px;
    background-color: #E6EBFF;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: inherit;
    outline: none;
    
}

.nav-rs--mobile:after{
    background: url('../img/next.svg');
    background-repeat: no-repeat;
    background-size: 40px 20px;
    background-position: 95% center;
}*/
@media (min-width: 700px) {
  .nav-rs {
    background-color: #f3f5f9;
    grid-column-start: 3;
    grid-column-end: 4;
    width: 210px;
    padding-top: 20px;
    padding-bottom: 0em;
    align-items: flex-start; }
  .nav-rs__btn {
    text-align: left;
    width: 170px;
    margin-left: 20px;
    background-color: #f3f5f9; }
  .nav-rs__marker {
    display: none; }
  .nav-rs__top-bg {
    height: 230px; } }

@media (min-width: 830px) {
  .nav-rs {
    margin-top: 10px; } }

.main-screen {
  display: grid;
  height: 100%; }

.tab--site {
  height: 100%; }

.site--new {
  width: 80%;
  max-width: 300px;
  margin: 15px auto;
  height: 80px;
  border-radius: 20px;
  border: 1px solid #C4C4C4; }
  .site--new p {
    text-align: center;
    line-height: 80px;
    color: #117DE0;
    font-size: 50px; }

.site {
  width: 80%;
  max-width: 300px;
  margin: 15px auto;
  border-radius: 14px;
  border: 1px solid #C4C4C4;
  background-color: #f7f7f7; }
  .site img {
    width: 100%;
    height: auto; }

.site__name {
  text-align: center;
  margin: 10px 0;
  font-size: 17px; }

.site__link {
  background-color: #117DE0;
  border-radius: 20px;
  box-shadow: 0px 0px 2px #117DE0;
  border: 2px solid #117DE0;
  transition: 0.25s ease-in;
  color: #fff;
  height: 28px;
  width: 100px;
  text-align: center;
  line-height: 22px;
  text-decoration: none;
  width: 80%;
  margin: 10px auto;
  display: block; }
  .site__link:hover {
    color: #117DE0;
    background-color: #F3F5F9; }
  .site__link:active {
    box-shadow: inset 0px 0px 4px #117DE0; }

@media (min-width: 370px) {
  .tab--site {
    display: grid;
    padding: 0 20px;
    grid-template-columns: 1fr 1fr; }
  .site--new {
    height: 175px;
    width: 166px; }
    .site--new p {
      line-height: 175px; }
  .site {
    height: 175px;
    width: 166px; }
  .site__name {
    margin: 10px 0; } }

@media (min-width: 530px) {
  .tab--site {
    grid-template-columns: 1fr 1fr 1fr; } }

@media (min-width: 700px) {
  .page-main {
    background-color: #f3f5f9; }
  .main-screen {
    border-radius: 35px;
    height: 85vh;
    padding: 0 20px 20px 20px;
    display: flex; }
  .page {
    background-color: #f3f5f9; }
  .tab {
    background-color: #fff;
    overflow-y: auto;
    height: 85vh;
    border-radius: 35px; }
  .tab--site {
    transition: all .5;
    padding: 0px;
    justify-content: space-around;
    align-content: baseline;
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .tab {
    padding: 16px; }
  .site, .site--new {
    transition: all .5;
    margin: 15px auto; } }

@media (min-width: 840px) {
  .tab--site {
    grid-template-columns: 1fr 1fr 1fr; } }

@media (min-width: 1040px) {
  .tab--site {
    grid-template-columns: 1fr 1fr 1fr 1fr; } }

@media (min-width: 1280px) {
  .tab--site {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; } }

@media (min-width: 1440px) {
  .tab--site {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; } }

@media (min-width: 1640px) {
  .tab--site {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; } }

.mail-me {
  width: 47px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F8F9FD;
  border: 3px solid #117DE0;
  border-radius: 50%;
  position: absolute;
  bottom: 40px;
  right: 5%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto'; }

ul {
  list-style: none; }

.page {
  overflow: hidden; }

.mobile-bg {
  transition: .5s;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2; }

.mobile-bg--active {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: .5s; }
