.mail-me{
    width: 47px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F9FD;
    border: 3px solid #117DE0;
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    right: 5%;
}