@import '../mixins.scss'; 

.nav-rs{
    padding: 10px 0;
    background-color: #E6EBFF;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}



.nav-rs__btn{
    width: 100%;
    border: none;
    background-color: #E6EBFF;
   margin-top: 20px;
}

.nav-rs__btn--active{
    border: none;
    background-color: #E6EBFF;
   margin: 0;
}

.nav-rs__marker{
    transition: .3s;
    position: absolute;
    top: 10px;
    right: 20px;
    width: 15px;
    height: 20px;

}

.marker__line{
    position: absolute;
    width: 2px;
    height: 11px;
    background-color: #313131;
    border-radius: 3px;
}

.marker__line--first{
    top: 0px;
    transform: rotate(-45Deg);
}

.marker__line--second{
    top: 7px;
    transform: rotate(45Deg);
}

.nav-rs__marker--active{
    top: 14px;
    right: 25px;
    transform: rotate(90Deg);
}