@import '../mixins.scss'; 

.main-screen{
    display: grid;
    height: 100%;
}
.tab--site{
    height: 100%;
}
.site--new{
    width: 80%;
    max-width: 300px;
    margin: 15px auto;
    height: 80px;
    border-radius: 20px;
    border: 1px solid #C4C4C4;
    p{
        text-align: center;
        line-height: 80px;
        color: #117DE0;
        font-size: 50px;
    }
}

.site{
    width: 80%;
    max-width: 300px;
    margin: 15px auto;
    border-radius: 14px;
    border: 1px solid #C4C4C4;
    img{
        width: 100%;
        height: auto;
    }
    background-color: #F2F2F2;
}

.site__name{
    text-align: center;
    margin: 15px 0;
    font-size: 19px;
}

.site__link{
    @include blue-btn;
    width: 80%;
    margin: 10px auto;
    display: block;
}

@media (min-width: 370px){
    .tab--site{
        display: grid;
        padding: 0 20px;
        grid-template-columns: 1fr 1fr;
    }
    .site--new{
        height: 205px;
        width: 156px;
        p{
            line-height: 205px;
        }
    }

    .site{
        height: 205px;
        width: 156px;
    }

    .site__name{
        margin: 10px 0;
    }
}

@media (min-width: 530px){
    .tab--site{

        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 700px){
    .page-main{
        background-color: #f3f5f9;
    }
    .main-screen{
        //display: grid;
        border-radius: 35px;
       //grid-template-columns: auto auto auto;
        height: 85vh;
        padding: 0 20px 20px 20px;
        display: flex;
    }
    .page{
        background-color: #f3f5f9;
    }
    .tab{
        background-color: #fff;
        overflow-y: auto;
        height: 85vh;
        border-radius: 35px;

    }
    

    .tab--site{
        transition: all .5;
        padding: 0px;
        justify-content: space-around;
        align-content: baseline;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .site, .site--new{
        transition: all .5;

        margin: 15px auto;
    }
}

@media(min-width:800px){
    .tab--site{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(min-width:1000px){
    .tab--site{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

